<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KLPWordAddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="KLPWordAddIn.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KLPWordAddIn.Properties.Settings>
            <setting name="FileServerPath" serializeAs="String">
                <value>\\fil1klp\data\FileNet-Import-Batch\documents\skade</value>
            </setting>
            <setting name="LocalTempFolder" serializeAs="String">
                <value>C:\DocTimTempFiles</value>
            </setting>
            <setting name="DocumentCodesFileLocation" serializeAs="String">
                <value>\\fnbp1klp\FileNet-Import-Batch\FileNet-Skade_DocList\DocumentCodes.xml</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>\\fnbp1klp\FileNet-Import-Batch\FileNet-Skade_DocList\DocumentCodes.xml</value>
            </setting>
            <setting name="DocumentCodesFileLocationLocalTest" serializeAs="String">
                <value>C:\Program Files (x86)\Microsoft\KLPOffice2013ToolsSetup\DocumentCodes.xml</value>
            </setting>
            <setting name="EnvironmentConfigurationFile" serializeAs="String">
                <value>C:\Program Files (x86)\Microsoft\KLPOffice2013ToolsSetup\EnvironmentConfiguration.xml</value>
            </setting>
            <setting name="LocalEnvironmentConfigurationFile" serializeAs="String">
                <value>C:\Program Files (x86)\Microsoft\KLPOffice2013ToolsSetup\EnvironmentConfiguration.xml</value>
            </setting>
        </KLPWordAddIn.Properties.Settings>
        <KLPWordAddIn.Settings1>
            <setting name="FileServerPath" serializeAs="String">
                <value>\\fnbt1KLP\filenet-sos-klpskade-batch</value>
            </setting>
        </KLPWordAddIn.Settings1>
    </userSettings>
</configuration>